<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (user) { %>
    <h2><%= title %> </h2>
    <form action="/ingredients" method="POST">
      <label>
        Name: 
        <input type="text" name="name" autocomplete="off" autofocus>
      </label>
      <button type="submit">Add Ingredient</button>
    </form>
    <ul>
      <% ingredients.forEach(ingredient => { %>
        <li>
          <%= ingredient.name %> 
        </li>
      <% }) %> 
    </ul>
  <% } %>
</main>

<%- include('../partials/footer') %>
