<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/recipes/index.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %> </h1>
  <% if (recipes.length){ %> 
  <table>
    <thead>
      <tr>
        <th>RECIPE</th>
        <!-- <th>TYPE: </th> -->
        <th>AUTHOR</th>
        <th>DATE</th>
      </tr>
    </thead>
    <tbody>
      <% recipes.forEach(recipe => { %>
        <% if (recipe.type === 'Dessert') {%>
          <tr>
            <td class="table-td"><a href="/recipes/<%= recipe._id %> "><%= recipe.name %></a></td>
            <td id="td-author" class="table-td"><%= recipe.author.name %></td>
            <td>
              <%const d = new Date(recipe.updatedAt) %>
              <%= recipe.updatedAt ? d.toLocaleDateString() : '' %>
            </td>
          </tr>
        <% } %> 
      <% }) %> 
    </tbody>
  </table>
  <% } else { %>
    <h3>No Recipes Available!</h3>
  <% } %> 
</main>

<%- include('../partials/footer') %>
