<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/recipes/edit.css">
<%- include('../partials/nav') %>

<main>

  <div id="recipe-name-author">
    <h1><%= recipe.name %></h1>
    <h4>By: <%= recipe.author.name %> </h4>
  </div>
  
  <button class="edit-rec-btns" form="save-recipe-form" id="save-recipe" type="submit">Save Recipe</button><br>

  <div id="edit-container">
    
    <form id="save-recipe-form" action="/recipes/<%= recipe._id %>?_method=PUT" method="post">
      <label id="type-selector">
        Type: <br>
        <select name="type">
          <option value="Appetizer">Appetizer</option>
          <option value="Entree">Entree</option>
          <option value="Dessert">Dessert</option>
        </select>
      </label><br>
      <label id="link-input">Link: <br>
        <input id="input-recipe-link" type="text" name="link" value="<%= recipe.link  %>" >
      </label><br>
  
      <!-- <label>Instructions: 
        <input type="text" name="instructions" value="<%= recipe.instructions %>" >
      </label> -->
    </form>
    
    <form action="/recipes/<%= recipe._id %>/ingredients/edit" method="post">
      <!-- <label>Ingredients: 
        <select name="ingredientsId">
          <%# ingredients.forEach(ingredient => { %> 
            <option value="<%#= ingredient._id %>"><%#= ingredient.name %></option>
          <%# }) %> 
        </select>
      </label> -->
      
      <label id="ingredients-label">
        Ingredients: <br>
        <input list="ingredientsList" name="ingredientsId" autocomplete="off" onclick="this.value=''">
        <datalist id="ingredientsList">
          <% ingredients.forEach(ingredient => { %> 
            <option value="<%= ingredient.name %>" data-value="<%= ingredient._id %>">
          <% }) %> 
        </datalist>
        <button class="edit-rec-btns" id="submit-ingred-btn" type="submit"><i class="fa-solid fa-plus"></i> Ingredient</button>
      </label>
      
    </form>
  
    <label id="current-ingred-label">
      Current Ingredients: 
      <ul id="ingred-list">
        <% recipe.ingredients.forEach(ingredient => {  %>
          <div id="ingred-cont">
            <form action="/recipes/<%= recipe._id %>/ingredients/<%= ingredient._id %>?_method=DELETE" method="post">
              <button class="edit-rec-btns" id="delete-ingred-btn" type="submit">X</button>
            </form>
            
            <li class="ingred-name"><%= ingredient.name %></li>
            
          </div>
        <% }) %> 
      </ul>
    </label>

    <form action="/recipes/<%= recipe._id %>/instructions?_method=PATCH" method="post">
      <label id="instruct-label">Instructions: <br>
        <button class="edit-rec-btns" id="save-instruct-btn" type="submit">Save Instructions</button> <br>

        <textarea id="instruct-text-area" name="instructions" cols="30" rows="10"><%= recipe.instructions %></textarea> <br>
        <!-- <input type="text" name="instructions" value="<%#= recipe.instructions %>" > -->

      </label>
    </form>

  </div>
    
  </main>

<%- include('../partials/footer') %>
