<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/recipes/index.css">
<%- include('../partials/nav') %>

<main>
  <h1 id="all-recipes-title"><%= title %> </h1>
  <% if (recipes.length){ %> 
  <table>
    <thead>
      <tr>
        <th class="table-th">RECIPE</th>
        <th class="table-th">TYPE</th>
        <th class="table-th">AUTHOR</th>
        <th>DATE</th>
      </tr>
    </thead>
    <tbody>
      <% recipes.forEach(recipe => { %>
        <tr>
          <div id="recipe-table-data">
            <td class="table-td"><a href="/recipes/<%= recipe._id %> "><%= recipe.name %></a></td>
            <td class="table-td"><%= recipe.type %> </td>
            <td id="td-author" class="table-td"><%= recipe.author.name %></td>
            <td>
              <%const d = new Date(recipe.updatedAt) %>
              <%= recipe.updatedAt ? d.toLocaleDateString() : '' %>
            </td>
          </div>
        </tr>
      <% }) %> 
    </tbody>
  </table>
  <% } else { %>
    <h3>No Recipes Available!</h3>
  <% } %> 
</main>

<%- include('../partials/footer') %>
