<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/recipes/new.css">
<%- include('../partials/nav') %>

<main>
  <% if (user) { %>
    <h2><%= title %></h2>
    <form action="/recipes" method="post">
      <label>
        Name: 
        <input type="text" name="name" autocomplete="off">
      </label>
      <label>
        Type: 
        <select name="type">
          <option value="Appetizer">Appetizer</option>
          <option value="Entree">Entree</option>
          <option value="Dessert">Dessert</option>
        </select>
      </label>
      <label>
        Link: 
        <input type="text" name="link">
      </label>
      <div>
        <label>
          Ingredients: 
          <input list="ingredientsList" name="ingredients" form="add-ingredient-to-recipe-form" autocomplete="off">
        </label>
        <!-- <button type="submit" form="add-ingredient-form">+</button> -->
        <datalist id="ingredientsList">
          <%# if (ingredients.length) { %> 
            <% ingredients.forEach(ingredient => { %> 
              <option value="<%= ingredient.name %>"></option>
            <% }) %> 
          <%# } %> 
        </datalist>
        <label>
          quantity: 
          <input type="text" name="quantity" form="add-ingredient-to-recipe-form">
        </label>
        <button type="submit" form="add-ingredient-to-recipe-form">Submit Ingredient</button>
      </div>
      <label>
        Instructions: 
        <textarea name="instructions" id="" cols="30" rows="10"></textarea>      
      </label>
      <button type="submit">Add Recipe</button>
    </form>
    <form action="/recipes/new" method="post" id="add-ingredient-to-recipe-form"></form>
    <!-- <form action="/recipes/new/ingredients" method="post" id="add-ingredient-form"></form> -->
  <% } %>
</main>

<%- include('../partials/footer') %>
