<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h3><%= title %> page</h1>
  <h1><%= recipe.name %></h1>
  <h4>By: <%= recipe.author.name %> </h4>
  <label for="">Link: 
    <%= recipe.link  %> 
  </label>
  <label for="">Ingredients: 
    
  </label>
  <label for="">Quantity: 
    <%= recipe.quantity %> 
  </label>
  <label for="">Instructions: 
    <%= recipe.instructions %> 
  </label>

</main>

<%- include('../partials/footer') %>
