<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h3><%= title %> page</h1>
  <h1><%= recipe.name %></h1>
  <h4>By: <%= recipe.author.name %> </h4>
  <label for="">Type: 
    <%= recipe.type %> 
  </label>
  <label>Link: 
    <% if(recipe.link) { %>
      <a href="<%= recipe.link  %>" target="_blank"><%= recipe.link  %></a> 
    <% } else { %>
      <span>None</span>
    <% } %> 
  </label>

  <% if(recipe.ingredients.length) { %>
    <label for="">Ingredients: 
      <ul>
        <% recipe.ingredients.forEach(ingredient => { %> 
          <li><%= ingredient.name %> </li>
        <% }) %> 
      </ul>
    </label>
  <% } %> 
  <!-- <label for="">Quantity: 
    <%#= recipe.quantity %> 
  </label> -->
  <% if(recipe.instructions) { %>
    <label for="">Instructions: 
      <%= recipe.instructions %> 
    </label>
  <% } %> 

  <% if (recipe.author.equals(user?.profile._id)) { %>
    <form action="/recipes/<%= recipe._id %>/edit">
      <button type="submit">EDIT RECIPE</button>
    </form>
    <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="post">
      <button type="submit">Delete Recipe</button>
    </form>
  <% } %> 

</main>

<%- include('../partials/footer') %>
