<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/recipes/show.css">
<%- include('../partials/nav') %>

<main>
  <!-- <h3><%#= title %> page</h3> -->
  <div id="recipe-name-author">
    <h1><%= recipe.name %></h1>
    <h4>By: <%= recipe.author.name %> </h4>
  </div>

  <div id="buttons">
    <% if (recipe.author.equals(user?.profile._id)) { %>
      <form action="/recipes/<%= recipe._id %>/edit">
        <button id="edit-recipe-btn" type="submit">EDIT</button>
      </form>
      <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="post">
        <button id="delete-recipe-btn" type="submit">DELETE</button>
      </form>
    <% } %> 
  </div>

  <div id="recipe-content">

    <label class="recipe-labels">Type:<br>
      <span id="recipe-type"><%= recipe.type %></span> 
    </label>
    <label class="recipe-labels">Link:<br>
      <% if(recipe.link) { %>
      <span id="recipe-link-a"><a id="recipe-link" href="<%= recipe.link  %>" target="_blank"><%= recipe.link  %></a></span>  
      <% } else { %>
        <span>None</span>
      <% } %> 
    </label>
  
    <% if(recipe.ingredients.length) { %>
      <label class="recipe-labels" id="ingredient-label">Ingredients:
        <div id="ingredient-cont">
          <ul id="ing-list">
            <% recipe.ingredients.forEach(ingredient => { %> 
              <li><%= ingredient.name %> </li>
            <% }) %> 
          </ul>
        </div>
      </label>
    <% } %> 
    <!-- <label for="">Quantity: 
      <%#= recipe.quantity %> 
    </label> -->
    <% if(recipe.instructions) { %>
      <label id="instructions" class="recipe-labels">Instructions: <br>
        <span id="recipe-instruct"><%= recipe.instructions %> </span>
      </label>
    <% } %> 

  </div>


</main>

<%- include('../partials/footer') %>
