<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/recipes/index.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %> </h1>
  <% if (recipes.length){ %> 
  <table>
    <thead>
      <tr>
        <th>RECIPE</th>
        <th>TYPE</th>
        <th>DATE</th>
      </tr>
    </thead>
    <tbody>
      <% recipes.forEach(recipe => { %>
        <% if (recipe.author.equals(user?.profile._id)) {%>
          <tr>
            <td class="table-td"><a href="/recipes/<%= recipe._id %> "><%= recipe.name %></a></td>
            <td class="table-td"><%= recipe.type %> </td>
            <td>
              <%const d = new Date(recipe.updatedAt) %>
              <%= recipe.updatedAt ? d.toLocaleDateString() : '' %>
            </td>
          </tr>
        <% } %> 
      <% }) %> 
    </tbody>
  </table>
  <% } else { %>
    <h3>No Recipes Available!</h3>
  <% } %> 
</main>

<%- include('../partials/footer') %>
